<!-- <input type="email">
<h2>Hello I am, {{name}}</h2> -->
<!-- <div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<hr> -->
<h1>okat</h1>
<app-servers></app-servers>
<app-app-first-compo></app-app-first-compo>
<app-second-compo></app-second-compo>

<ul>
  <li *ngFor="let user of users.products">
    {{user.id}}
  </li>
</ul>

<a routerLink="">Home</a><br>
<a routerLink="about">About</a><br>
<a routerLink="contact">Contact</a><br>


<router-outlet></router-outlet>


<form #usersForm="ngForm" (ngSubmit)="getUserFormData(usersForm.value)">
  <input type="text" ngModel name="name" placeholder="Enter your name"><br>
  <input type="email" ngModel name="email" placeholder="Enter your email"><br>
  <input type="text" ngModel name="company" placeholder="Enter your company"><br>
  <button>Add new user boii</button>
</form>